{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address Page</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'css/address.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <body>
    <div class="container" align="center">
        <div id="loginForm">
            <div class="panel panel-default"><div class="panel-heading">
            </div>
                <div class="authentification">
                    <form class="form-control" method="POST" accept-charset="UTF-8" role="form">
                    {% csrf_token %}
                        <input class="inputs" autocorrect="off" autocapitalize="on" spellcheck="false" style="font-size: 17px;  color: #5b5b5b;" id="street" type="text" name="street" placeholder="street address">
                        <input class="inputs" autocorrect="off" autocapitalize="on" spellcheck="false" style="font-size: 17px;  color: #5b5b5b;" style="font-size: 17px;" id="address2" type="text" name="address2" placeholder="apt., suite, bldg">
                        <input class="inputs" autocorrect="off" autocapitalize="on" spellcheck="false" style="font-size: 17px;  color: #5b5b5b;" id="city" type="text" name="city" placeholder="city">
                        <input class="inputs" autocorrect="off" autocapitalize="on" spellcheck="false" style="font-size: 17px;  color: #5b5b5b;" id="zip" type="text" name="zip" placeholder="zip">
                        <select style="width: 336px; height: 37px;" class="inputs" name="state" id="state" aria-required="true">
                            <option value="" disabled="" selected="selected">state</option>
                            <option value="AK">
                                AK - Alaska
                            </option>
                            <option value="AZ">
                                AZ - Arizona
                            </option>
                            <option value="AR">
                                AR - Arkansas
                            </option>
                            <option value="CA">
                                CA - California
                            </option>
                            <option value="CT">
                                CT - Connecticut
                            </option>
                            <option value="DE">
                                DE - Delaware
                            </option>
                            <option value="DC">
                                DC - District of Columbia
                            </option>
                            <option value="FL">
                                FL - Florida
                            </option>
                            <option value="GA">
                                GA - Georgia
                            </option>
                            <option value="ID">
                                ID - Idaho
                            </option>
                            <option value="IL">
                                IL - Illinois
                            </option>
                            <option value="IN">
                                IN - Indiana
                            </option>
                            <option value="IA">
                                IA - Iowa
                            </option>
                            <option value="KY">
                                KY - Kentucky
                            </option>
                            <option value="LA">
                                LA - Louisiana
                            </option>
                            <option value="ME">
                                ME - Maine
                            </option>
                            <option value="MA">
                                MA - Massachusetts
                            </option>
                            <option value="MI">
                                MI - Michigan
                            </option>
                            <option value="MN">
                                MN - Minnesota
                            </option>
                            <option value="MO">
                                MO - Missouri
                            </option>
                            <option value="MT">
                                MT - Montana
                            </option>
                            <option value="NE">
                                NE - Nebraska
                            </option>
                            <option value="NV">
                                NV - Nevada
                            </option>
                            <option value="NJ">
                                NJ - New Jersey
                            </option>
                            <option value="NM">
                                NM - New Mexico
                            </option>
                            <option value="NY">
                                NY - New York
                            </option>
                            <option value="NC">
                                NC - North Carolina
                            </option>
                            <option value="OH">
                                OH - Ohio
                            </option>
                            <option value="OK">
                                OK - Oklahoma
                            </option>
                            <option value="OR">
                                OR - Oregon
                            </option>
                            <option value="PA">
                                PA - Pennsylvania
                            </option>
                            <option value="RI">
                                RI - Rhode Island
                            </option>
                            <option value="SD">
                                SD - South Dakota
                            </option>
                            <option value="TN">
                                TN - Tennessee
                            </option>
                            <option value="TX">
                                TX - Texas
                            </option>
                            <option value="UT">
                                UT - Utah
                            </option>
                            <option value="VT">
                                VT - Vermont
                            </option>
                            <option value="WA">
                                WA - Washington
                            </option>
                            <option value="WV">
                                WV - West Virginia
                            </option>
                            <option value="WI">
                                WI - Wisconsin
                            </option>
                            <option value="AA">
                                AA - Armed Forces Americas
                            </option>
                            <option value="AE">
                                AE - Armed Forces Europe
                            </option>
                            <option value="AS">
                                AS - American Samoa
                            </option>
                            <option value="GU">
                                GU - Guam
                            </option>
                            <option value="MP">
                                MP - Northern Mariana Islands
                            </option>
                            <option value="PR">
                                PR - Puerto Rico
                            </option>
                            <option value="AL">
                                AL - Alabama
                            </option>
                            <option value="CO">
                                CO - Colorado
                            </option>
                            <option value="HI">
                                HI - Hawaii
                            </option>
                            <option value="KS">
                                KS - Kansas
                            </option>
                            <option value="MD">
                                MD - Maryland
                            </option>
                            <option value="MS">
                                MS - Mississippi
                            </option>
                            <option value="NH">
                                NH - New Hampshire
                            </option>
                            <option value="ND">
                                ND - North Dakota
                            </option>
                            <option value="SC">
                                SC - South Carolina
                            </option>
                            <option value="VA">
                                VA - Virginia
                            </option>
                            <option value="WY">
                                WY - Wyoming
                            </option>
                            <option value="VI">
                                VI - Virgin Islands
                            </option>
                            <option value="AP">
                                AP - Armed Forces Pacific
                            </option>
                            <option value="UM">
                                UM - Minor Outlying Islands
                            </option>
                            </select>

                    <select style="width: 336px; height: 37px;" class="inputs" name="country" id="country" aria-required="true">
                            <option value="country">country</option>
                            <option value="ALB">Albania</option>
                            <option value="DZA">Algeria</option>
                            <option value="AGO">Angola</option>
                            <option value="AIA">Anguilla</option>
                            <option value="ATG">Antigua And Barbuda</option>
                            <option value="ARG">Argentina</option>
                            <option value="ARM">Armenia</option>
                            <option value="AUS">Australia</option>
                            <option value="AUT">Austria</option>
                            <option value="AZE">Azerbaijan</option>
                            <option value="BHS">Bahamas</option>
                            <option value="BHR">Bahrain</option>
                            <option value="BRB">Barbados</option>
                            <option value="BLR">Belarus</option>
                            <option value="BEL">Belgium</option>
                            <option value="BLZ">Belize</option>
                            <option value="BEN">Benin</option>
                            <option value="BMU">Bermuda</option>
                            <option value="BTN">Bhutan</option>
                            <option value="BOL">Bolivia</option>
                            <option value="BWA">Botswana</option>
                            <option value="BRA">Brazil</option>
                            <option value="VGB">British Virgin Islands</option>
                            <option value="BRN">Brunei Darussalam</option>
                            <option value="BGR">Bulgaria</option>
                            <option value="BFA">Burkina Faso</option>
                            <option value="KHM">Cambodia</option>
                            <option value="CAN">Canada</option>
                            <option value="CPV">Cape Verde</option>
                            <option value="CYM">Cayman Islands</option>
                            <option value="TCD">Chad</option>
                            <option value="CHL">Chile</option>
                            <option value="CHN">China</option>
                            <option value="COL">Colombia</option>
                            <option value="CRI">Costa Rica</option>
                            <option value="HRV">Croatia</option>
                            <option value="CYP">Cyprus</option>
                            <option value="CZE">Czech Republic</option>
                            <option value="DNK">Denmark</option>
                            <option value="DMA">Dominica</option>
                            <option value="DOM">Dominican Republic</option>
                            <option value="ECU">Ecuador</option>
                            <option value="EGY">Egypt</option>
                            <option value="SLV">El Salvador</option>
                            <option value="EST">Estonia</option>
                            <option value="FJI">Fiji</option>
                            <option value="FIN">Finland</option>
                            <option value="FRA">France</option>
                            <option value="GMB">Gambia</option>
                            <option value="DEU">Germany</option>
                            <option value="GHA">Ghana</option>
                            <option value="GRC">Greece</option>
                            <option value="GRD">Grenada</option>
                            <option value="GTM">Guatemala</option>
                            <option value="GNB">Guinea-Bissau</option>
                            <option value="GUY">Guyana</option>
                            <option value="HND">Honduras</option>
                            <option value="HKG">Hong Kong</option>
                            <option value="HUN">Hungary</option>
                            <option value="ISL">Iceland</option>
                            <option value="IND">India</option>
                            <option value="IDN">Indonesia</option>
                            <option value="IRL">Ireland</option>
                            <option value="ISR">Israel</option>
                            <option value="ITA">Italy</option>
                            <option value="JAM">Jamaica</option>
                            <option value="JPN">Japan</option>
                            <option value="JOR">Jordan</option>
                            <option value="KAZ">Kazakhstan</option>
                            <option value="KEN">Kenya</option>
                            <option value="KWT">Kuwait</option>
                            <option value="KGZ">Kyrgyzstan</option>
                            <option value="LAO">Laos</option>
                            <option value="LVA">Latvia</option>
                            <option value="LBN">Lebanon</option>
                            <option value="LBR">Liberia</option>
                            <option value="LTU">Lithuania</option>
                            <option value="LUX">Luxembourg</option>
                            <option value="MAC">Macau</option>
                            <option value="MKD">Macedonia</option>
                            <option value="MDG">Madagascar</option>
                            <option value="MWI">Malawi</option>
                            <option value="MYS">Malaysia</option>
                            <option value="MLI">Mali</option>
                            <option value="MLT">Malta</option>
                            <option value="MRT">Mauritania</option>
                            <option value="MUS">Mauritius</option>
                            <option value="MEX">Mexico</option>
                            <option value="FSM">Micronesia</option>
                            <option value="MDA">Moldova</option>
                            <option value="MNG">Mongolia</option>
                            <option value="MSR">Montserrat</option>
                            <option value="MOZ">Mozambique</option>
                            <option value="NAM">Namibia</option>
                            <option value="NPL">Nepal</option>
                            <option value="NLD">Netherlands</option>
                            <option value="NZL">New Zealand</option>
                            <option value="NIC">Nicaragua</option>
                            <option value="NER">Niger</option>
                            <option value="NGA">Nigeria</option>
                            <option value="NOR">Norway</option>
                            <option value="OMN">Oman</option>
                            <option value="PAK">Pakistan</option>
                            <option value="PLW">Palau</option>
                            <option value="PAN">Panama</option>
                            <option value="PNG">Papua New Guinea</option>
                            <option value="PRY">Paraguay</option>
                            <option value="PER">Peru</option>
                            <option value="PHL">Philippines</option>
                            <option value="POL">Poland</option>
                            <option value="PRT">Portugal</option>
                            <option value="QAT">Qatar</option>
                            <option value="COG">Republic of the Congo</option>
                            <option value="ROU">Romania</option>
                            <option value="RUS">Russia</option>
                            <option value="KNA">Saint Kitts And Nevis</option>
                            <option value="LCA">Saint Lucia</option>
                            <option value="VCT">Saint Vincent and the Grenadines</option>
                            <option value="STP">Sao Tome And Principe</option>
                            <option value="SAU">Saudi Arabia</option>
                            <option value="SEN">Senegal</option>
                            <option value="SYC">Seychelles</option>
                            <option value="SLE">Sierra Leone</option>
                            <option value="SGP">Singapore</option>
                            <option value="SVK">Slovakia</option>
                            <option value="SVN">Slovenia</option>
                            <option value="SLB">Solomon Islands</option>
                            <option value="ZAF">South Africa</option>
                            <option value="KOR">South Korea</option>
                            <option value="ESP">Spain</option>
                            <option value="LKA">Sri Lanka</option>
                            <option value="SUR">Suriname</option>
                            <option value="SWZ">Swaziland</option>
                            <option value="SWE">Sweden</option>
                            <option value="CHE">Switzerland</option>
                            <option value="TWN">Taiwan</option>
                            <option value="TJK">Tajikistan</option>
                            <option value="TZA">Tanzania</option>
                            <option value="THA">Thailand</option>
                            <option value="TTO">Trinidad and Tobago</option>
                            <option value="TUN">Tunisia</option>
                            <option value="TUR">Turkey</option>
                            <option value="TKM">Turkmenistan</option>
                            <option value="TCA">Turks and Caicos Islands</option>
                            <option value="UGA">Uganda</option>
                            <option value="UKR">Ukraine</option>
                            <option value="ARE">United Arab Emirates</option>
                            <option value="GBR">United Kingdom</option>
                            <option value="USA">United States</option>
                            <option value="URY">Uruguay</option>
                            <option value="UZB">Uzbekistan</option>
                            <option value="VEN">Venezuela</option>
                            <option value="VNM">Vietnam</option>
                            <option value="YEM">Yemen</option>
                            <option value="ZWE">Zimbabwe</option>
                        </select>
                        <button type="submit" class="button" id="button" value=""></button>
                        {% if error_message %}
                         <span style="font-size: 15px; color: red;"> {{ error_message }} </span> <br />
                     {% endif %}


                    </form>
                </div>

            </div>

        </div>
    </div>
    </body>
